.sugestoes-produtos {
  .product-card {
    padding: 0 20px;

    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
    }
    p {
      color: #909090;
    }
  }

  .product-macbook {
    background-color: #ededed;
  }

  .bg-light-gray {
    background-color: #ededed;
  }
  .bg-dark {
    background-color: #353535;
  }
}

// mobile

.sugestoes-produtos-mobile {

  .wrapper-product{
    
  }
  .airpods {
    background-color: #ededed;
    color: #909090;
    padding: 10px 20px 30px 20px;

    h2 {
      color: #000;
      margin: 10px 0;
    }
  }
  .appleVision {
    color: #909090;
    background-color: #353535;
    padding: 10px 20px 30px 20px;

    h2 {
      color: #fff;
      margin: 10px 0;
    }
  }
  .playstation {
    padding: 10px 20px 30px 20px;

    p {
      color: #909090;
    }
    h2 {
      margin: 20px 0;
    }
  }
  .macbook {
    background-color: #ededed;
    padding: 10px 20px 30px 20px;
  }
}
