.wrapperCardCategorias {
  overflow-x: overlay;

  .cardCategorias {
    background: #ededed;
    color: #000;
    text-align: center;
    padding-top: 16px;
    border-radius: 15px;

    .iconsCategorias {
      width: 48px;
      height: 48px;
    }

    p {
      margin-top: 1rem;
    }
  }
}
